:root {
    --color-primary: #0029FF;
    --color-hover-btn: #001fcc;
    --color-secondary: #E9ECEF;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #FEFFC033;
    --color-light-gray: #F2F2F2;
    --color-light-yellow: #FEFFC0;

}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* for all button  */
.btn {
    border: none;
    border-radius: 20px;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 121px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--color-hover-btn);
    transform: translateY(-2px);
    color: var(--color-black);
}

/* ---------------- navbar Start ------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-light-gray);
    padding: 10px 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Right side icons */
.icon_btn {
    background: none;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Vertical Dots  */
.icon_more {
    font-size: 22px;
    position: relative;
    bottom: 9px;
    color: var(--color-primary);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect for both */
.icon_btn:hover,
.icon_more:hover {
    transform: translateY(-3px);
}




/* --------------Navbar end---------------  */

/* Main section  */

/*-------------- Section 01 started----------  */
.task_section {
    margin: 10px 150px;
}

.task_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_header h2 {
    color: var(--color-primary);
    font-weight: 700;
    letter-spacing: 2%;
    line-height: 100%;
    font-size: 28px;
}

.task_description {
    background-color: var(--color-secondary);
    padding: 8px 16px;
    border-radius: 16px;
    line-height: 100%;
    letter-spacing: 2%;
}

.task_description h5 {
    font-weight: 700;
    font-size: 20px;
}

.task_description p {
    font-weight: 400;
    font-size: 14px;
}

/*-------------- Section 01 ended----------  */

/*-------------- Section 02 started----------  */

.cards_section {
    margin: 50px 200px;
    padding: 30px;
}

.all_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card {
    width: 480px;
    height: 580px;
    background-color: var(--color-white);
    border-radius: 15px;
    border: 2px solid var(--color-light-gray);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card_title {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;     
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 15px 15px 0 0;
    padding: 0;             
}

.card_title h6 {
    font-weight: 100;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    margin: 0;
    text-align: center;
    justify-items: center;
    padding: 20px 0px;
}
.card_icon {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
}
/* Card Description */
.card_title p { 
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: var(--color-black);
    text-align: left;
}
.padding{
    padding: 0px 5px 0px 20px;
}

/* Description word  */
.dec_title {
    font-weight: 600; 
}



