:root {
    --color-primary: #0029FF;
    --color-hover-btn: #001fcc;
    --color-secondary: #E9ECEF;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #FEFFC033;
    --color-light-gray: #F2F2F2;
    --color-light-yellow: #FEFFC0;
    --color-font: #616161;

}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* for all button  */
.btn {
    border: none;
    border-radius: 20px;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 121px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--color-hover-btn);
    transform: translateY(-2px);
    color: var(--color-black);
}

/* ---------------- navbar Start ------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-light-gray);
    padding: 10px 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Right side icons */
.icon_btn {
    background: none;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Vertical Dots  */
.icon_more {
    font-size: 22px;
    position: relative;
    bottom: 9px;
    color: var(--color-primary);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect for both */
.icon_btn:hover,
.icon_more:hover {
    transform: translateY(-3px);
}




/* --------------Navbar end---------------  */

/* Main section  */
/* ----------- Journey Board Started ---------------- */


.journey_board {
    width: 350px;
    height: 580px;
    background-color: var(--color-white);
    border: 2px solid var(--color-light-gray);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 75px;
    left: 0px;
    margin: 0px;
    transition: width 0.3s;
    z-index: 1000;
}

.journey_board_title {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--color-light-gray);
    border-radius: 15px;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 10px 0px;
}

.journey_board_title h6 {
    font-weight: 100;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    margin: 0;
    text-align: center;
    justify-items: center;
    padding: 0px 20px;
}

.arrow_icon {
    background-color: var(--color-black);
    padding: 2px 0px 0px 0px;
    border: none;
    border-radius: 50% 0 0 0;
    cursor: pointer;
}

/* -------------------Notice Board Started ---------------------- */

.notice_board {
    width: 50px;
    /* original width */
    height: 580px;
    background-color: var(--color-white);
    border: 2px solid var(--color-light-gray);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 75px;
    right: 0;
    transition: all 0.3s ease;
    z-index: 1000;
    overflow: hidden;
}

/* title bar vertical */
.notice_board_title {
    height: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* vertical text */
.notice_board_title h6 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 16px;
    letter-spacing: 3px;
    cursor: pointer;
    margin: 0;
    padding: 30px 0px;
}

/* X button */
.close_btn {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 18px;
    cursor: pointer;
    padding: 30px 0px;
}

/*-------------- Section 01 started----------  */
.task_section {
    margin: 10px 150px;
}

.task_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_header h2 {
    color: var(--color-primary);
    font-weight: 700;
    letter-spacing: 2%;
    line-height: 100%;
    font-size: 28px;
}

.task_description {
    background-color: var(--color-secondary);
    padding: 8px 16px;
    border-radius: 16px;
    line-height: 100%;
    letter-spacing: 2%;
}

.task_description h5 {
    font-weight: 700;
    font-size: 20px;
}

.task_description p {
    font-weight: 400;
    font-size: 14px;
}

/*-------------- Section 01 ended----------  */

/*-------------- Section 02 started----------  */

.cards_section {
    margin: 50px 200px;
    padding: 30px;
}

.all_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card {
    width: 480px;
    height: 580px;
    background-color: var(--color-white);
    border-radius: 15px;
    border: 2px solid var(--color-light-gray);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 15px 15px 0 0;
    padding: 0;
}

.card_title h6 {
    font-weight: 100;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    margin: 0;
    text-align: center;
    justify-items: center;
    padding: 20px 0px;
}

.card_icon {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
}

/* Card Description */
.card_title p {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: var(--color-black);
    text-align: left;
}

.padding {
    padding: 0px 5px 0px 20px;
}

/* Description word  */
.dec_title {
    font-weight: 600;
}



/* Threadbuild */

.thread_head {
    display: flex;
    background-color: var(--color-light-yellow);
    padding: 10px 10px;
}

.thread_head p {
    padding-left: 150px;
    font-size: 20px;
    margin: 0;
}

.thread_block {
    display: flex;
    gap: 10px;
    margin: 15px;
}

.single_texarea {
    width: 200px;
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    border-radius: 15px;
    margin: 0;
}

.thread_block label {
    font-size: 14px;
    padding-left: 5px;
}

.thread_block textarea {
    height: 60px;
    padding: 6px 0px 0px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.three_button {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
    padding-left: 70px;
}

.three_button select {
    border-radius: 15px;
    padding: 10px 5px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.three_button img {
    height: 20px;
    margin-top: 5px;
}

.btn-thread {
    margin: 20px;
}

.last_texarea {
    margin: 0px 20px;
    border: none;
    border-radius: 5px;
    width: 92%;
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    border-radius: 15px;


}
.last_texarea label{
    padding-left: 5px;
}
.last_texarea textarea {
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/*------------ Structure your pointers ------------ */

.article_block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 15px;
}

.article_block label {
    
    font-size: 18px;
}

.article_block textarea {
    width: 92%;
    min-height: 50px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    resize: vertical;
    font-family: inherit;
    font-size: 14px; 
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.article_block .toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.article_block .toolbar button {
    padding: 6px 10px;
    font-size: 12px;
    color: var(--color-font);
    cursor: pointer;
    border: none;
    background-color: var(--color-white);
}

.article_block .toolbar button:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}
.article_content{ 
    height: 90px;
}


/* ---------------4SA Method--------------  */

.method_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.method_block {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 0px 20px;
   
}

.method_block h6 {
    font-weight: 300;
    font-size: 18px;
    padding: 10px;
    margin: 0;
}
.introduction{
    background-color: var(--color-light-gray);
    
}
.without_introduction{
    border: 1px solid var(--color-black);
}

.method_block p {
    width: 100%;
    padding: 2px;
    border: none;
    resize: vertical;
    font-family: inherit;
    font-size: 16px;
    box-shadow: none;
    margin: 0;
}

.see_more_btn {
    align-self: flex-end; 
    width: fit-content;
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    background-color: var(--color-white);
    color: var(--color-font);
    font-size: 15px;
}

.see_more_btn:hover {
    background-color: #e0e0e0;
    border-radius: 10px;
}
